/* all pages */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

ul {
	list-style-type: none;
	background-color: #03045e;
	overflow: hidden;
	padding: 0.7em;
}

li {
	display: inline;
}

li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.2em;
	font-family: "Georgia", serif;
	padding: 0.6em;
}

li a:hover {
	background-color: #023e8a;
}
nav {
	text-align: right;
}

/* home page */

#homeTitle {
	text-align: center;
	font-size: 100px;
	color: white;
	padding-top: 1.8em;
	padding-bottom: 3em;
}
.headerTP {
	color: white;
	font-family: "Georgia", serif;
	text-align: center;
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#headerT {
	font-size: 100px;
}
#headerP {
	font-size: 18px;
}

.hft {
	padding: 3.5em;
	color: white;
	font-family: "Georgia", serif;
	text-align: left;
}
.howFast {
	font-size: 44px;
}
.howFastText {
	padding-top: 2em;
	font-size: 18px;
	line-height: 1.5;
}
#clickBTN {
	padding-bottom: 2em;
}

.threeImages {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 3.5em;
}

/* help page */

.helpTitle {
	text-align: center;
	font-size: 40px;
	color: white;
	padding: 0.8em;
	font-family: "Georgia", serif;
}

.helpList {
	text-align: left;
	color: white;
	font-family: "Georgia", serif;
	padding-left: 3.5em;
	padding-top: 2em;
	padding-bottom: 2em;
	font-size: 20px;
}